{% extends "quoteapp/base.html" %} {% load extract_quote_tags %} {% block content %}

<h1>{{ quote.quote }}</h1>
<p>Author: <b>{{ quote.author }}</b></p>
<!--<p>Tags: <kbd>{{quote.tags}}</kbd></p>-->
<!--{% if note.done %}-->
<!--<p>-->
<!--  Status:-->
<!--  <ins>Completed</ins>-->
<!--</p>-->
<!--{% else %}-->
<!--<p>Status: <i>Not implemented</i></p>-->
<!--{% endif %}-->
<!--<p>Tags: <small> {{ quote.tags|tags }} </small></p>-->
{% for tag in quote.tags %}
<a href="{% url 'quoteapp:quotes_with_tag' tag %}" role="button" class="outline"> {{ tag }} </a>
{% endfor %}

{% endblock %}
