{% extends "quoteapp/base.html" %} {% block content %}
{% for quote in quotes %}
    <div class="bordered-div">
        <div class="quote" itemscope itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{ quote.quote }}
                <a href="{% url 'quoteapp:detail_quote' quote.id %}" class="outline">(details)</a>
            </span>
        </div>
        <div>
            <span>
                by
                <small class="author" itemprop="author"> {{ quote.author }} </small>
                <a href="{% url 'quoteapp:detail_author' quote.author %}"> (about) </a>
            </span>
        </div>
        <div class="tags">
            Tags:
            <meta class="keyword" itemprop="keywords">
            {% for tag in quote.tags %}
                <a href="{% url 'quoteapp:quotes_with_tag' tag %}" class="outline">{{ tag }}   </a>
            {% endfor %}
        </div>
    </div>
    <div style="height: 20px;"></div>
{% endfor %}
{% endblock %}