{% extends "quoteapp/base.html" %} {% block content %}

    {% for quote in quotes %}
    <div class="bordered-div">
        <div class="quote" itemscope itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{ quote.quote }}
                <a href="{% url 'quoteapp:detail_quote' quote.id %}" class="outline">(details)</a>
            </span>
        </div>
        <div>
            <span>
                by
                <small class="author" itemprop="author"> {{ quote.author }} </small>
                <a href="{% url 'quoteapp:detail_author' quote.author %}" class="author"> (about) </a>
            </span>
        </div>
        <div class="tags">
            Tags:
            <meta class="keyword" itemprop="keywords">
            {% for tag in quote.tags %}
                <a href="{% url 'quoteapp:quotes_with_tag' tag %}" class="tag">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
    <div style="height: 20px;"></div>
    {% endfor %}
    <nav>
        <ul class="pager">

            {% if previous_page %}
            <li class="previous">
                <a href="{% url 'quoteapp:page' previous_page %}" class="previous">
                    <span aria-hidden="true"><-</span>
                    " Previous"
                </a>
            </li>
            {% endif %}
            {% if next_page %}
            <li class="next">
                <a href="{% url 'quoteapp:page' next_page %}" class="next">
                    "Next "
                    <span aria-hidden="true">-></span>
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>

    <div>
        <p>Top tags:</p>
        {% for tag in top_tags %}
        <span class="tag_item">
            <a href="{% url 'quoteapp:quotes_with_tag' tag %}" class="outline"> {{ tag }} </a>
        </span>
        <div style="height: 20px;"></div>
        {% endfor %}

    </div>

{% endblock %}








